[submodule "lib/plat/timer"]
	path = lib/plat/timer
	url = https://code.google.com/p/arduino-utils-timer/
[submodule "lib/plat/blanking"]
	path = lib/plat/blanking
	url = https://code.google.com/p/arduino-utils-blanking/
[submodule "lib/comp/Adafruit_CC3000"]
	path = lib/comp/Adafruit_CC3000
	url = https://github.com/adafruit/Adafruit_CC3000_Library
[submodule "lib/comp/motorpwm"]
	path = lib/comp/motorpwm
	url = https://code.google.com/p/arduino-driver-motorpwm/
[submodule "lib/comp/ultrasonicranging"]
	path = lib/comp/ultrasonicranging
	url = https://code.google.com/p/arduino-driver-ultrasonicranging/
[submodule "lib/comp/lcdkeypad"]
	path = lib/comp/lcdkeypad
	url = http://code.google.com/p/arduino-display-lcdkeypad/
[submodule "lib/comp/PID"]
	path = lib/comp/PID
	url = https://github.com/br3ttb/Arduino-PID-Library
[submodule "lib/comp/ivm"]
	path = lib/comp/ivm
	url = https://code.google.com/p/arduino-utils-ivm/
