/src/Release
/workspace/.metadata/.plugins/org.eclipse.core.resources/.history
/workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/workspace/.metadata/*.log
/workspace/.metadata/.log
