/src/Release
/workspace/.metadata/.plugins/org.eclipse.core.resources/.history
/workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/workspace/.metadata/*.log
/workspace/.metadata/.log
/workspace/.metadata/.plugins/org.eclipse.cdt.core/lintilla_embedded.1395144245249.pdom
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/lintilla_embedded/.indexes/7a/properties.index
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/lintilla_embedded/.indexes/c0/properties.index
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/lintilla_embedded/.indexes/cc/properties.index
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/lintilla_embedded/.indexes/ee/properties.index
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/lintilla_embedded/.indexes/fc/history.index
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/lintilla_embedded/.indexes/fc/properties.index
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/lintilla_embedded/.markers.snap
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/lintilla_embedded/.syncinfo.snap
/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
/workspace/.metadata/.plugins/org.eclipse.core.resources/.snap
/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.views.log.prefs
/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.core.prefs
/workspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/3/12/refactorings.history
/workspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/3/12/refactorings.index
/workspace/.metadata/.plugins/org.eclipse.ui.views.log/dialog_settings.xml
/workspace/.metadata/.plugins/org.eclipse.cdt.core/.log
/workspace/.metadata/.plugins/org.eclipse.cdt.ui/*.log
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects
/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/it.baeyens.arduino.prefs
/workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/workspace/.metadata/.plugins/org.eclipse.ui.workbench/*.xml
/workspace/.metadata/.plugins/org.eclipse.cdt.ui/lintilla_embedded.build.log
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/lintilla_embedded/.indexes/properties.index
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/lintilla_embedded/.markers
/workspace/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings
/src/spec.d
/workspace/.metadata/.mylyn
/workspace/.metadata/.plugins/org.eclipse.cdt.core/lintilla_embedded.1396033749001.pdom
/workspace/.metadata/.plugins/org.eclipse.cdt.core/lintilla_embedded.language.settings.xml
/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/workspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/3/13/refactorings.history
/workspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/3/13/refactorings.index
/workspace/.metadata/.plugins/org.eclipse.team.cvs.core/.running
